div, header {
   box-sizing: border-box;
 }

 body {
 font-family: "Helvetica Neue", "Arial", "Helvetica";
 background-color:#011835;
}

label {
  display: none;
}

.fullscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: image-url('background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url(<%= asset_path 'background.jpg' %>); */
}

/* .dashboard-fullscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color:#011835;
} */

.sess-sign-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border-radius: 3px;
}

.sess-sign-form input {
  width: 100%;
  background-color: white;
  width: 100%;
  padding: 15px;
  height: 45px;
  border-bottom: 0.8px solid lightgray;
  font-size: 15px;
  font-family: "Helvetica Neue", "Arial", "Helvetica";
}

.sess-sign-form input::placeholder{
  color: #b4b4b4;
}

.sess-sign-form input:first-of-type {
 border-radius: 2px 2px 0 0;
}

.sess-sign-form input:last-of-type {
 border-radius: 0 0 2px 2px;
}


.sess-sign-form input:last-of-type {
 border-bottom: none;
}

.sign-log, .main-buttons {
  background-color: #00b8ff;
  border-radius: 1px;
  width: 100%;
  margin-top: 10px;
  padding: 11px 10px 11px 13px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

.main-buttons-white {
  background-color: white;
  border-radius: 1px;
  width: 100%;
  margin-top: 10px;
  padding: 11px 10px 11px 13px;
  text-align: center;
  color: #444444;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

// .main-buttons{ 
//   width: 100%;
//   height: 45px;
//   margin-top: 12px;
//   background-color: #00b8ff;
//   border-radius: 2px;
  
// }

.splash-list{
  display:flex;
  flex-direction:column;
}

.container{ 
  width: 300px;

}

.splash-header {
  display: flex;
  justify-content: flex-end;
  position:relative;
}

.form {
  width: 100%;
}

.link-button{
  background-color: #EEEEEE;
  color: #333333;
  padding: 8px 10px;
  font-weight: bold;
  position:absolute;
  border-radius: 1px;
  font-size: 12px;
  top: 10px;
  right: 10px;
}

.dropbtn{
  background-color: #EEEEEE;
  color: #333333;
  padding: 8px 10px;
  font-weight: bold;
  border-radius: 1px;
  font-size: 12px;
  position: absolute;
  right: 80px;
}

.dropdown{
  position:absolute;
  top: 53px;
  right: 10px;
  background-color: #FFFFFF;
  color: #444444;
  width: 200px;
  min-height: 200px;
  border-radius: 3px;
  font-size: 0.7em;
  display: none;
}

.show{
  display: block;
}

.dashboard h1{
  color: white;
  font-family: "Helvetica Neue";
}

.dropdown-header{
  display:flex;
  justify-content: space-between;
  padding: 5px 20px 5px 10px;
  background-color: #F2F2F2;
  border-bottom: 1px solid lightgray;
  border-radius: 3px 3px 0 0 ;
  align-items: baseline;
}

.dropdown strong {
  font-weight: bold;
  font-size: 0.8em;
}

.dashboard-header {
  padding-bottom: 10px;
  height: 54px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // position: fixed;
  // background-color: yellow; 
}

.menu-icons{
  color:rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin: 0 16px;
  margin-top: 8px;
}

.menu-icons:hover{
  color:rgba(255, 255, 255, 1);
  font-size: 20px;
  margin: 0 16px;
  margin-top: 8px;
  cursor: pointer;
}

.menu-bar > ul {
  display:flex;
  justify-content: space-evenly;
  align-self: flex-end;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-right: 20px;
}

.logo-thobu{
  font-family: 'Spartan', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 10px;
  border-radius: 5px;
  // border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.3);
}

.single-letter{
  font-family: 'Spartan', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  top: 8px;
  left: 22px;
}

.session-errors {
  font-size: 0.8em;
  text-align: center;
  color:red;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
  width: 100%;
  border-radius: 2px;
}

a:hover, button:hover{
  cursor: pointer;
}